@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.indigo{
  background-color: #6A5ACD;
}
.indigo:hover{
  background-color: #4c438b;
}
.green {
  background-color: #259b25;
}
.green:hover {
  background-color: #196d19;
}
.red {
  background-color: #bf1b1b;
}
.red:hover {
  background-color: #9c1919;
}


